<div>
    <div class="col-sm-10">
      <div class="panel panel-info">
         <div class="panel-heading">Messages</div>
         <div style="height: 300px;overflow: auto; padding: 10px;">
            <dl class="list-group" ng-repeat="data in MyData.collection track by $index">
               <div class="list-group-item">
                  <dd >{{ data }}</dd>
               </div>
            </dl>
         </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9">
         <input type="text" class="form-control" ng-model="message" name="name" placeholder="Write a message"/>
      </div>
      <div class="col-sm-2">
         <button class="btn btn-primary bt-lg" ng-click="send()" ng-disabled="!message">Send</button>
      </div>
    </div>
</div>
