<!doctype html>
<html ng-app="chat-app">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>chat app frontend</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>
    
   <body>
      <div class="header">
         <div class="navbar navbar-default" role="navigation">
           <div class="container">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>

               <a class="navbar-brand" href="#/">Chat AngularJS With Play Framework!</a>
               <ul class="nav navbar-nav">
                 <li ng-show="!gdata.getUserId()" >
                    <a ng-href="#/login">Login</a>
                 </li>
               </ul>
             </div>

             <div class="collapse navbar-collapse">
               <ul class="nav navbar-text navbar-nav navbar-right">
                 <li >{{gdata.getUser().name}}&nbsp</li>
                 <li ng-show="gdata.getUser()">
                     <img ng-src="{{gdata.getUser().picture}}" height="30px" width="30px" >
                 </li>
                 <li ng-show="gdata.getUser()">
                    <a class="navbar-link" href="" ng-click="logout()">logout</a>
                 </li>
               </ul>
             </div>
          </div>
        </div>
      </div>

      <div class="container">
         <div ui-view></div>
      </div>

    <!-- build:js scripts/main.js -->
      <script src="../bower_components/angular/angular.min.js"> </script>
      <script src="../bower_components/jquery/dist/jquery.min.js"></script>
      <script src="../bower_components/angular-route/angular-route.js"></script>
      <script src="../bower_components/angular-websocket/dist/angular-websocket.min.js"></script>
      <script src="../bower_components/angular-google-gapi/dist/angular-google-gapi.min.js"></script>
      <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
      <script src="scripts/main.js"></script> 
      <script src="scripts/run/googleRun.js"></script>
      <script src="scripts/config/routerConfig.js"></script>
      <script src="scripts/controller/chatController.js"></script>
      <script src="scripts/controller/loginController.js"></script>
      <script src="scripts/service/chatService.js"></script>
    <!-- endbuild -->
  </body>
</html>
